<!DOCTYPE html>
<html>
  <head>
    <title>Gandalp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyCANy-yjuMMiuNvbjsV56zOY_vFvLZU6l0" %>

    <link rel="icon" type="image/gif/png" href="https://s3-media2.fl.yelpcdn.com/assets/srv0/yelp_styleguide/118ff475a341/assets/img/logos/favicon.ico">

    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
